.features {
  margin-top: 3rem;
}

@media (min-width: 52em) {
  .features {
    grid-template-columns: repeat(3, 1fr);
    --gap: 3rem;
  }
}

@media (min-width: 34em)
and (max-width: 52em) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    --gap: 3rem;
  }
}

@media (max-width: 34em) {
  .features {
    text-align: center;
    margin-inline: auto;
  }
}
