.question {
  align-items: center;
  justify-content: space-between;
}

.frequentlyAskedQuestion {
  border: 1px solid #E0E2E4;
  padding: 1rem;
  border-radius: 5px;
  transition: height 300ms ease-in-out;
}

.frequentlyAskedQuestion > * + * {
  margin-top: 1.5rem;
}