.learn_more {
  --gap: 0.5rem;
  align-items: center;
}

.feature {
  --gap: 1rem;
}

@media (max-width: 34em) {
  .feature {
    flex-direction: column;
    align-items: center;
  }

  .feature_content {
    text-align: center;
  }
}
